.checkbox-field {
  display: flex;
  align-items: center;
  flex-grow: 1;
  cursor: pointer;
}

// .checkbox-field--align-start {
//   align-items: flex-start;
// }

.checkbox-field:hover {
  opacity: 0.7;
}

.checkbox-field input {
  position: absolute;

  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.checkbox-field__icon {
  display: block;
  flex-shrink: 0;
  order: -1;

  width: 16px;
  height: 16px;
  margin-right: 16px;

  background-image: url("../img/icon-checkbox-off.svg");
  background-repeat: no-repeat;
}

.checkbox-field input:checked + .checkbox-field__icon {
  background-image: url("../img/icon-checkbox-on.svg");
}

.checkbox-field__icon--size-big {
  margin-right: 35px;
}

.checkbox-field input:focus + .checkbox-field__icon {
  box-shadow: 0 0 0 2px black;
}

.checkbox-field__text {
  margin-top: 10px;

  opacity: 0.8;
  color: #ffffff;

  font-family: "PT Mono", "Andale Mono", monospace;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 16px;
}

.checkbox-field__text--size-smal {
  margin-top: 0;
}
