.site-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.site-list a {
  display: flex;
  align-items: center;
  flex-shrink: 0;

  color: inherit;

  font-family: "PT Mono", "Andale Mono", monospace;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
}

.site-list__item + .site-list__item {
  margin-left: 20px;
}

.site-list__item:hover a {
  color: #00b2ff;
}

.site-list__item:active a {
  opacity: 0.7;
  color: #00b2ff;
}

.site-list__item a::before {
  content: "";

  display: inline-block;

  width: 18px;
  height: 18px;

  vertical-align: top;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: center left;
  background-size: contain;
}

.site-list__item--icon-mail a::before {
  width: 19px;
  height: 14px;

  background-image: url("../img/icon-mail.svg");
}

.site-list__text {
  margin-left: 20px;
}

@media (max-width: 1023px) {
  .site-list a {
    margin: -10px; // увеличивает кликабельную зону у ссылки
    padding: 10px; // увеличивает кликабельную зону у ссылки
  }

  .site-list__item a::before {
    width: 24px;
    height: 24px;
  }

  .site-list__item--icon-mail a::before {
    width: 25px;
    height: 18px;

    background-image: url("../img/icon-mail.svg");
  }

  .site-list__text {
    position: absolute;

    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);

    width: 1px;
    height: 1px;
  }

  .site-list__button {
    position: absolute;

    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);

    width: 1px;
    height: 1px;
  }
}
