.wrapper {
  background-color: #1b2d37;
}

.wrapper__header {
  max-width: 1442px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 33px;
  padding-right: 15px;
  padding-bottom: 33px;
  padding-left: 15px;
}
